{% load static %}
<html>
<head>
<title>eDNA</title>        
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/general.css' %}" rel="stylesheet">
</head>

<body>
    <div class="content container">      
            <div class="row" style="margin-top:1em">
  
            <h2>Deployments</h2>
            </div>
            <div class="row">

            {% if deployment_list %}
            <table class="table">
                <thead>
                    <th scope="col">Device No.</th>
                    <th scope="col">eDNA UID</th>
                    <th scope="col">Target Depth<br />(m)</th>
                    <th scope="col">Pump Wait<br />Duraiton(s)</th>
                    <th scope="col">Flow Volume<br />(clicks)</th>
                    <th scope="col">Flow Max <br />Duration (s)</th>
                    <th scope="col">Submit</th>
                    <th scope="col">Delete</th>

                </thead>
                <tbody>
                    {% for deployment in deployment_list %}

                    <tr>
                        <th scope="row">{{deployment.device.device_id}}</th>
                        <td>
                            {% if deployment.has_data == True %}
                            <a href="/deployment/{{ deployment.pk }}">{{ deployment.eDNA_UID }}</a></td>
                            {% else %}
                            {{ deployment.eDNA_UID }}
                            {% endif %}
                        <form action="/deployment/{{ deployment.eDNA_UID }}", method="post">
                            {% csrf_token %}
                            <td>
                                <input id="depth" type="text" name="depth" value="{{ deployment.depth }}" style="width: 100px">
                            </td>
                            <td>
                                <input id="pump_wait" type="text" name="pump_wait" value="{{ deploy ment.pump_wait }}" style="width: 100px">
                            </td>
                            <td>
                                <input id="flow_volume" type="text" name="flow_volume" value="{{ deployment.flow_volume }}" style="width: 100px">
                            </td>
                            <td>
                                <input id="flow_duration" type="text" name="flow_duration" value="{{ deployment.flow_duration }}" style="width: 100px">
                            </td>
                            <td>
                                {% if deployment.has_data == False %}
                                <input type="submit" class="btn btn-primary" value="Submit">
                                {% else %}
                                <input type="submit" class="btn btn-primary" value="Submit" disabled="disabled">
                                {% endif %}
                            </td>
                            <td>
                                {% if deployment.has_data == False %}
                                <input type="submit" class="btn btn-danger" value="Delete">
                                {% else %}
                                <input type="submit" class="btn btn-danger" value="Delete", disabled="disabled">
                                {% endif %}
                                </td>
                        </form>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
                <p>No deployments are available.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>